!!!
html(ng-app="myApp")
  head
    meta(charset='utf8')
    base(href='/')
    title Angular Express Seed App
    link(rel='stylesheet', href='/css/app.css')
    link(rel='stylesheet', href='/components/semantic-ui/build/packaged/css/semantic.css')
    
    
  body(ng-controller='AppCtrl')
    block body
    
    script(src="/components/jquery/dist/jquery.min.js")
    script(src="/components/semantic-ui/build/packaged/javascript/semantic.js")